.layout {
  display: flex;
  min-height: 100vh;
}

.main-content {
  flex-grow: 1;
  margin-left: 280px; /* Ancho de la sidebar */
  background-color: var(--bg-dark);
  min-height: 100vh;
}

h1 {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 8px;
}
